
/* font-family: "Inter", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}
html{
  scroll-behavior: smooth;
}

@keyframes progress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.animate-progress {
  animation: progress 4s ease-in-out forwards;
}


@keyframes float {
  0%, 100% { transform: translateY(0) rotate(0deg); }
  50% { transform: translateY(-8px) rotate(2deg); }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

